<div class="content" role="main">
  <h2
    *ngIf="showDefault; else showCat"
    [style.color]="fontColor"
    (click)="swapDisplay()"
    (mouseover)="pointer($event.target)"
    [ngStyle]="{
      fontWeight: 'bold',
      fontSize: '32px',
      textTransform: 'uppercase'
    }"
  >
    {{ content }}
  </h2>

  <ng-template #showCat>
    <h2 [ngClass]="{ active: true }">Click the cat to hide it!</h2>

    <img
      (click)="swapDisplay()"
      (mouseover)="pointer($event.target)"
      src="https://images.ctfassets.net/ub3bwfd53mwy/5WFv6lEUb1e6kWeP06CLXr/acd328417f24786af98b1750d90813de/4_Image.jpg?w=750"
      alt="cat-pic"
    />
    <ul>
      <li *ngFor="let item of items; index as i; first as isFirst">
        {{ i + 1 }} of {{ items.length }}: {{ item }}
      </li>
    </ul>
  </ng-template>

  <div (mouseover)="showElement = true" (mouseleave)="showElement = false">
    Hover over me to see more cat pics.
    <div
      *ngIf="showElement"
      [ngStyle]="{
        display: 'flex',
        flexDirection: 'row',
      }"
    >
      <div
        *ngFor="let cat of cats"
      >
        <img
          [ngStyle]="{
            width: '500px',
            height: '500px',
            objectFit: 'cover',
            display: 'flex',
            flexDirection: 'row'
          }"
          src="{{ cat }}"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
